[submodule "tezos-k8s"]
	path = tezos-k8s
	url = git@github.com:nicolasochem/tezos-k8s.git
[submodule "flashbake/endpoints-monorepo"]
	path = flashbake/endpoints-monorepo
	url = git@github.com:flashbake/endpoints-monorepo.git
